<p id="notice"><%= notice %></p>

<div class="mypage-wrap">
  <%= image_tag @book.image.url %>
  <h3><%= @book.user.name %></h3>
  <%= @book.content %>
 
<% if current_user.id == @book.user_id %>
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', book_path %>
<%= link_to 'Delete', book_path , method: :delete %>
<%end%>
