<div class="item-box-content clearfix">
  <h3 class="category-title"><%= @category.name %></h3>
      <% @category.post.each do |post| %>
          <div class="item-wrap">
              <%= image_tag post.image.url %>
              <h3><%= post.name %></h3>
              <div class="item-price">¥<%= post.price %></div>
              <div class="detail-btn"><%= link_to '詳細を見る' , post_path(post.id) , :class=> 'btn btn-danger btn-xs' %></div>
           </div>
      <%end%>
    </div>